# Godot 4+ specific ignores
.godot/*
/android/

.vs/*
data_Pong_windows_x86_64/*
Properties/*

Assets/audio/*.mp3.import
Assets/audio/*.wav.import
Assets/audio/*.ogg.import

*.exe
*.sln
*.pck
*.csproj
*.csproj.user
*.cfg
*.editorconfig
*.gitattributes
*.tmp

scripts/*.cs.uid
