# Godot 4+ specific ignores
.godot/*
/android/

.vs/*
data_Pong_windows_x86_64/*
Properties/*


Assets/audio/*

*.exe
*.godot
*.sln
*.pck
*.csproj
*.csproj.user
*.cfg
*.editorconfig
*.gitattributes

scripts/*.cs.uid
